@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
  font-family: 'Nunito Sans', sans-serif;
  @apply text-primary bg-primary
}

.rounded-div {
  @apply rounded-2xl px-2 max-w-[1140px] w-full mx-auto
}

.dark {
  --color-bg-primary: #121212;
  --color-bg-secondary: #1F1B24;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #FCB733;
  --color-bg-input: #4a5361;
  --color-bg-button: #FCB733;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #FCB733;
  --color-bg-input: #edf2f7;
  --color-bg-button: #FCB733;
}